* {
  font-family: var(--font-geist);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-geist);
  background-color: #fff;
}

.bg-cream {
  background-color: #f6f4f2;
}

:root {
  --font-geist: "Geist", sans-serif;

  --gap-lg: 36px;
}

.container {
  padding: 0 24px;
  width: 100%;

  max-width: 1428px;
  margin: auto;
}

.font-primary {
  font-family: var(--font-geist);
}

.max-w-8xl {
  max-width: 1428px;
  margin: auto;
}
.section-spacing {
  padding-block: 96px;
}
.vertical-layout-gap {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.section-spacing-y {
  padding-block: 96px;
}

.faded-text {
  color: #0006;
}

.card-wrapper.shadow {
  box-shadow: 0 2px 6px #0000000f;
}

.graphics-wrapper {
  z-index: 12;
  background-image: linear-gradient(135deg, #ff8308, #ff5043 50%, #392bd5);
  pointer-events: none;
  min-width: 130%;
  height: auto;
  min-height: 100%;
}

.footer-bg {
  background-image: 
    linear-gradient(
      135deg,
      rgba(204,100,0,0.9),     /* darker #ff8308 */
      rgba(204,50,40,0.9) 50%, /* darker #ff5043 */
      rgba(40,30,160,0.9)      /* darker #392bd5 */
    ),
    url("https://cdn.prod.website-files.com/67bd4583544503c3feb08305/67c39603ab3ddc3074823a01_gradient-map-2-p-1600.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.footer-link li{
    color:white;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}
.page-dropdown  li  , .information-dropdown  li{
      font-weight: 500;
    font-size: 14px;
    line-height: 20px;
     padding:6px;
     transition: background-color .2s;
     height:32px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border-radius: 6px;


}

.footer-link li:not(:first-child){

   opacity:0.6;

}


.page-dropdown li:hover , #information li:hover , .slide-menu-frame li:hover:not(:last-child){
    background-color: #f6f4f1;
   
}

#pages .page-dropdown ,#pages .dropdown-indicator, #information  .dropdown-indicator{
  transition: all 0.5s ease-in-out;
}
#pages:hover .dropdown-indicator , #information:hover  .dropdown-indicator{
    transform: translate(50% , -50%);
}
#pages:hover .page-dropdown, 
#information:hover .information-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10%);
}

.not-move{
  display:none;
}

#pages:hover .page-dropdown.not-move  , #information:hover .information-dropdown.not-move{
  display:flex;
  transform: translateY(0);
}

.btn-dark ,.btn-animate > span, .btn-dark > span{
  transition:  all 0.3s ease-in;
}


.d-none{display: none;}




.btn-dark:hover {
  background-color: var(--primary);
  color: var(--white);
}




.btn-animate:hover > span{
   transform: translateY(-100%);

}



@media (max-width:776px) {

  .section-spacing {
  padding-block: 60px;
}
.vertical-layout-gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section-spacing-y {
  padding-block: 40px;
}

.container {
  padding: 0 16px;
 
}

  
}

.slide-menu-frame{
  right:-100%;
  transition: all ease-in-out 0.5s;
}
.slide-menu-frame.active{
  right:0;
}